# Created by https://www.gitignore.io/api/c

### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

.vscode/

src/Userland/0000-sampleCodeModule.bin
src/Image/packedKernel.bin
src/Image/x64BareBonesImage.img
src/Image/x64BareBonesImage.qcow2
src/Image/x64BareBonesImage.vmdk
src/Kernel/kernel.bin
